@import "tailwindcss";

body {
    background-image: url(/images/white_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}